<a href="https://colab.research.google.com/github/Amritpal-nitj/Tensorflow/blob/main/tfallzeosones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#tf.ones()
create a tensor with all elements set to 1

In [2]:
import tensorflow as tf
tf_ones=tf.ones(shape=(2,2))
tf_ones

<tf.Tensor: shape=(2, 2), dtype=float32, numpy=
array([[1., 1.],
       [1., 1.]], dtype=float32)>

In [3]:
tf_ones=tf.ones(shape=(2,4,3))  #3d means last3  means 3 one hoge , unke 4 unit and un4 unit ke 2 unit
tf_ones

<tf.Tensor: shape=(2, 4, 3), dtype=float32, numpy=
array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]], dtype=float32)>

#tf.ones_like()
create a tensor of all ones which has shape  same as input

In [4]:
cont_2td=tf.constant([[1,2,3],[4,6,5]])
cont_2td

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 6, 5]], dtype=int32)>

In [5]:
tf_ones_like=tf.ones_like(cont_2td)
tf_ones_like

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 1, 1],
       [1, 1, 1]], dtype=int32)>

In [7]:
var_2td=tf.Variable([[1,2,3],[4,6,5]])
var_2td

<tf.Variable 'Variable:0' shape=(2, 3) dtype=int32, numpy=
array([[1, 2, 3],
       [4, 6, 5]], dtype=int32)>

In [8]:
tf_ones_like=tf.ones_like(var_2td)
tf_ones_like

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 1, 1],
       [1, 1, 1]], dtype=int32)>

#tf.ones_initializer()
Initializer that generates tensors initialized to 1.

Initializers allow you to pre-specify an initialization strategy, encoded in the Initializer object, without knowing the shape and
dtype of the variable being initialized. *(dtype and shape pta hone se phle hi tensor ko all ones initialize krr skte hai)*

In [9]:
def ones_variable(shape,dtype,initializer):
  return tf.Variable(initializer(shape=shape,dtype=dtype))

In [11]:
ones_variable(shape=(2,2),dtype=tf.float32,initializer=tf.ones_initializer())

<tf.Variable 'Variable:0' shape=(2, 2) dtype=float32, numpy=
array([[1., 1.],
       [1., 1.]], dtype=float32)>

#tf.zeros()

In [2]:
import tensorflow as tf
tf_zeros=tf.zeros(shape=(2,2))
tf_zeros

<tf.Tensor: shape=(2, 2), dtype=float32, numpy=
array([[0., 0.],
       [0., 0.]], dtype=float32)>

In [3]:
tf_zeros=tf.zeros(shape=(2,4,3))  #3d means last3  means 3 one hoge , unke 4 unit and un4 unit ke 2 unit
tf_zeros

<tf.Tensor: shape=(2, 4, 3), dtype=float32, numpy=
array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]], dtype=float32)>

#tf.zeros_like()

In [4]:
cont_2td=tf.constant([[1,2,3],[4,6,5]])
cont_2td

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 6, 5]], dtype=int32)>

In [5]:
tf_zeros_like=tf.zeros_like(cont_2td)
tf_zeros_like

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)>

In [6]:
var_2td=tf.Variable([[1,2,3],[4,6,5]])
var_2td

<tf.Variable 'Variable:0' shape=(2, 3) dtype=int32, numpy=
array([[1, 2, 3],
       [4, 6, 5]], dtype=int32)>

In [7]:
tf_zeros_like=tf.zeros_like(var_2td)
tf_zeros_like

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[0, 0, 0],
       [0, 0, 0]], dtype=int32)>

#tf.zeros_initializer()
initializer that generates tensors initialized to **0**

In [9]:
def zeros_variable(shape,dtype,initializer):
  return tf.Variable(initializer(shape=shape,dtype=dtype))

In [10]:
zeros_variable(shape=(2,2),dtype=tf.float32,initializer=tf.zeros_initializer())

<tf.Variable 'Variable:0' shape=(2, 2) dtype=float32, numpy=
array([[0., 0.],
       [0., 0.]], dtype=float32)>

if u want to do in single line

In [13]:
tf.Variable(tf.zeros_initializer()(shape=(2,2),dtype=tf.float32))

<tf.Variable 'Variable:0' shape=(2, 2) dtype=float32, numpy=
array([[0., 0.],
       [0., 0.]], dtype=float32)>